{
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSpacing": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 80,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"plugins": ["@awmottaz/prettier-plugin-void-html"]
}
