style.css

/* Reset default styles */
input {
  text-align: right;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(2n + 1) {
  background-color: #337ab7;
}

tr:nth-child(2n) {
  background-color: gray;
}

card {
  width: 90vw; /* Occupy 90% of viewport width by default */
}

@media (min-width: 768px) {
  .card {
    width: 50vw; /* Occupy 50% of viewport width on larger screens */
  }
}
form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

code {
  background-color: #f9f2f4;
  padding: 0 5px;
  border-radius: 5px;
}

pre {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

section#draggable {
  width: 300px;
  border: 1px solid black;
  text-align: center;
  padding-top: 30px;
  cursor: move;
}

/* Add your custom styles here */
